div.mdl-grid

	div.mdl-card.mdl-cell.mdl-cell--6-col.mdl-cell--12-col-tablet
		div.mdl-card__title
			h2.mdl-card__title-text Authors
		div.mdl-card__supporting-text
			div.authors-list.mdl-list
				div.mdl-list__item
					span.mdl-list__item-primary-content
						span G Michael
					a.fa-button.mdl-list__item-secondary-action(href="#")
						i.fa.fa-pencil Editor
					a.fa-button.mdl-list__item-secondary-action(href="#")
						i.fa.fa-unlock Admin
					a.fa-button.mdl-list__item-secondary-action(href="#")
						i.fa.fa-user-secret Manager
				div.mdl-list__item
					span.mdl-list__item-primary-content
						span El Mago
					a.fa-button.mdl-list__item-secondary-action(href="#")
						i.fa.fa-pencil Editor
					a.fa-button.mdl-list__item-secondary-action(href="#")
						i.fa.fa-unlock Admin
					a.fa-button.mdl-list__item-secondary-action(href="#" disabled)
						i.fa.fa-user-secret Manager
		// -- End of card for Authors

		// Card for Manage

		div.mdl-card-mdl-cell.mdl-cell--6-col.mdl-cell--12-col-tablet
			div.mdl-card__title
				h2.mdl-card__title-text Manage
			div.mdl-card__supporting-text
				div.courses-list.mdl-list
					div.mdl-list__item
						span.mdl-list__item-primary-content
							span G Michael
						a.fa-button.mdl-list__item-secondary-action(href="#")
							i.fa.fa-cogs Permissions
						a.fa-button.mdl-list__item-secondary-action(href="#")
							i.fa.fa-ban Delete
					div.mdl-list__item
						span.mdl-list__item-primary-conent
							span El Mago	
						a.fa-button.mdl-list__item-secondary-action(href="#")
							i.fa.fa-cogs Permissions
						a.fa-button.mdl-list__item-secondary-action(href="#")
							i.fa.fa-ban Delete
					
			// -- End of Card for Manage
		
