div.mdl-grid

	// Card for Courses 
	div.mdl-card.mdl-cell.mdl-cell--6-col.mdl-cell--12-col-tablet
		div.mdl-card__title
			h2.mdl-card__title-text Materiales requeridos
		div.mdl-card__supporting-text
			table.mdl-data-table.mdl-js-data-table
				thead
					tr
						th ID
						th.mdl-data-table__cell--non-numeric Nombre Material
						th Cantidad Actual
						th Cantidad Necesaria
				tbody
					tr
						td 001
						td Botella Azul
						td 3
						td 6
					tr
						td 002
						td Vidrio Plano
						td 0
						td 8

		div.mdl-card__actions.mdl-card--border
			a.mdl-button.mdl-js-button.mdl-js-ripple-effect(href="#") Imprimir Lista

	// -- End of card for courses

	// Card for courses to be published

	div.mdl-card.mdl-cell.mdl-cell--6-col.mdl-cell--12-col-tablet
		div.mdl-card__title
			h2.mdl-card__title-text Buscar proveedor
		div.mdl-card__supporting-text
			div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.w100
				input.mdl-textfield__input(type="number", id="src_prove")
				label.mdl-textfield__label(for="src_prove") Por ID
			div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.w100
				input.mdl-textfield__input(type="number", id="src_prove")
				label.mdl-textfield__label(for="src_prove") Por Nombre
			button.mdl-button.mdl-js-button.mdl-js-ripple-effect Buscar
						
	div.mdl-card.mdl-cell.mdl-cell--6-col.mdl-cell--12-col-tablet
		div.mdl-card__title
			h2.mdl-card__title-text Agregar un proveedor
		div.mdl-card__supporting-text
			form(action='#')
				div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.w100
					input.mdl-textfield__input(type="text", id="raz_soc")
					label.mdl-textfield__label(for="raz_soc") Razon Social
				br
				div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.w100
					input.mdl-textfield__input(type="text", id="desc")
					label.mdl-textfield__label(for="desc") Descripcion
				br
				div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.w100
					input.mdl-textfield__input(type="number", id="ruc")
					label.mdl-textfield__label(for="ruc") RUC
				br
				div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.w50
					input.mdl-textfield__input(type="number", id="telf")
					label.mdl-textfield__label(for="telf") Telefono 1
				div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.w50
					input.mdl-textfield__input(type="number", id="cel")
					label.mdl-textfield__label(for="cel") Celular
				br
				div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.w100
					input.mdl-textfield__input(type="email", id="corr")
					label.mdl-textfield__label(for="corr") Correo
				br
				div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.w100
					input.mdl-textfield__input(type="text", id="direc")
					label.mdl-textfield__label(for="direc") Direccion
				button.mdl-button.mdl-js-button.mdl-js-ripple-effect Agregar Proveedor
