div.mdl-grid(ng-controller="buyMatCtrl")

	// Card for Courses 
	div.mdl-card.mdl-cell.mdl-cell--6-col.mdl-cell--12-col-tablet
		div.mdl-card__title
			h2.mdl-card__title-text Materiales requeridos
		div.mdl-card__supporting-text
			table.mdl-data-table.mdl-js-data-table
				thead
					tr
						th ID
						th.mdl-data-table__cell--non-numeric Nombre Material
						th Cantidad Actual
						th Cantidad Necesaria
				tbody(ng-repeat="p in bm.mat_req")
					tr
						td {{ p.id }}
						td {{ p.nombre }}
						td {{ p.can_act }}
						td {{ p.can_nece }}  

		div.mdl-card__actions.mdl-card--border
			a.mdl-button.mdl-js-button.mdl-js-ripple-effect(href="#") Imprimir Lista

	// -- End of card for courses

	// Card for courses to be published

	div.mdl-card.mdl-cell.mdl-cell--6-col.mdl-cell--12-col-tablet
		div.mdl-card__title
			h2.mdl-card__title-text Buscar proveedor
		div.mdl-card__supporting-text
			div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.w100
				input.mdl-textfield__input(type="text", id="src_prove", ng-model="bm.search.id")
				label.mdl-textfield__label(for="src_prove") Por ID
			div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.w100
				input.mdl-textfield__input(type="text", id="src_prove", ng-model="bm.search.nombre")
				label.mdl-textfield__label(for="src_prove") Por Nombre
			div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.w100
				input.mdl-textfield__input(type="text", id="src_prove", ng-model="bm.search.descripcion")
				label.mdl-textfield__label(for="src_prove") Por Descripcion
			button.mdl-button.mdl-js-button.mdl-js-ripple-effect(ng-click="bm.search.searchProveedor()") Buscar
						
	div.mdl-card.mdl-cell.mdl-cell--6-col.mdl-cell--12-col-tablet
		div.mdl-card__title
			h2.mdl-card__title-text Agregar un proveedor
		div.mdl-card__supporting-text
			div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.w100
				input.mdl-textfield__input(type="text", id="raz_soc", ng-model="agp.razon_social")
				label.mdl-textfield__label(for="raz_soc") Razon Social
			br
			div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.w100
				input.mdl-textfield__input(type="text", id="desc", ng-model="agp.descripcion")
				label.mdl-textfield__label(for="desc") Descripcion
			br
			div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.w100
				input.mdl-textfield__input(type="number", id="ruc", ng-model="agp.ruc")
				label.mdl-textfield__label(for="ruc") RUC
			br
			div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.w50
				input.mdl-textfield__input(type="number", id="telf", ng-model="agp.telefono")
				label.mdl-textfield__label(for="telf") Telefono 1
			div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.w50
				input.mdl-textfield__input(type="number", id="cel", ng-model="agp.celular")
				label.mdl-textfield__label(for="cel") Celular
			br
			div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.w100
				input.mdl-textfield__input(type="email", id="corr", ng-model="agp.correo")
				label.mdl-textfield__label(for="corr") Correo
			br
			div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.w100
				input.mdl-textfield__input(type="text", id="direc", ng-model="agp.direccion")
				label.mdl-textfield__label(for="direc") Direccion
			button.mdl-button.mdl-js-button.mdl-js-ripple-effect(ng-click="agp.agregarProveedor()") Agregar Proveedor
	
	div.mdl-card.mdl-cell.mdl-cell--6-col.mdl-cell--12-col-tablet
		div.mdl-card__title
			h2.mdl-card__title-text Agregar materiales
		div.mdl-card__supporting-text
			div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.w100
				input.mdl-textfield__input(type="text", id="mat_proveedor")
				label.mdl-textfield__label(for="mat_proveedor") Proveedor
			div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.w100
				input.mdl-textfield__input(type="number", id="mat_monto")
				label.mdl-textfield__label(for="mat_monto") Monto
			table.mdl-data-table.mdl-js-data-table
				thead
					tr
						th.mdl-data-table__cell--non-numeric Nombre Material
						th Cantidad
						th Precio Unitario
				tbody
					tr
						td Botella Azul
						td 3
						td 22.1
					tr
						td Vidrio Plano
						td 2
						td 34.22

		div.mdl-card__actions.mdl-card--border
			a.mdl-button.mdl-js-button.mdl-js-ripple-effect(href="#") Agregar productos
