div.mdl-grid
	
	// Card for Account Settings
	div.mdl-card.mdl-cell.mdl-cell--6-col.mdl-cell--12-col-tablet
		div.mdl-card__title
			h2.mdl-card__title-text Account Settings
		div.mdl-card__supporting-text
			div.courses-list.mdl-list
				div.mdl-list__item
					span.mdl-list__item-primary-content
						span Username 
					span.mdl-button--raised Change Now
				div.mdl-list__item
					span.mdl-list__item-primary-content
						span Password
					span.mdl-button--raised Change Now
				div.mdl-list__item
					span.mdl-list__item-primary-content
						span Email
					span.mdl-button--raised Email
	// --End of card for Account Settings


	// Card for Layout
	div.mdl-card.mdl-cell.mdl-cell--6-col.mdl-cell--12-col-tablet
		div.mdl-card__title
			h2.mdl-card__title-text Layout
		div.mdl-card__supporting-text
			div.configure-list.mdl-list
				div.mdl-list__item
					span.mdl-list__item-primary-content
						span Option 1
					label.span.mdl-radio.mdl-js-radio.mdl-js-ripple-effect.mdl-layout-spacer(for="option-1") On
						mdl-radio__button(type="radio" id="option-1" value="1" class="mdl-radio__button" name="options" checked) 
					label.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for="option-2") Off
						mdl-radio__button(type="radio" id="option-2" value="2" class="mdl-radio__button"  name="options") 
				div.mdl-list__item
					span.mdl-list__item-primary-content
						span Option 2
					label.span.mdl-radio.mdl-js-radio.mdl-js-ripple-effect.mdl-layout-spacer(for="option-1") On
						mdl-radio__button(type="radio" id="option-1" value="1" class="mdl-radio_button" name="options" checked)
					label.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for="option-2") Off
						mdl-radio__button(type="radio" id="option-2" value="2" class="mdl-radio__button" name="options")
				div.mdl-list__item
					span.mdl-list__item-primary-content
						span Option 3
					label.span.mdl-radio.mdl-js-radio.mdl-js-ripple-effect.mdl-layout-spacer(for="option-1") On
						mdl-radio__button(type="radio" id="option-1" value="1" class="mdl-radio_button" name="options" checked)
					label.span.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for="option-3") Off
						mdl-radio__button(type="radio" id="option-3" value="3" class="mdl-radio__button" name="options")
				div.mdl-list__item
					span.mdl-list__item-primary-content
						span Option 4
					label.span.mdl-radio.mdl-js-radio.mdl-js-ripple-effect.mdl-layout-spacer(for="option-1") On
						mdl-radio__button(type="radio" id="option-1" value="1" class="mdl-radio__button" name="options" checked) 
					label.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for="option-2") Off

		// --End of card for Layout
