div.mdl-grid

	// Card for Courses 
	div.mdl-card.mdl-cell.mdl-cell--6-col.mdl-cell--12-col-tablet
		div.mdl-card__title
			h2.mdl-card__title-text Courses in development
		div.mdl-card__supporting-text
			div.courses-list.mdl-list
				// item template
				div.mdl-list__item
					span.mdl-list__item-primary-content
						//i.fa.fa-bullet.fa-circle
						span Course 1
					a.fa-button.mdl-list__item-secondary-action(href="#")
						i.fa.fa-users
					a.fa-button.mdl-list__item-secondary-action(href="#")
						i.fa.fa-comments-o
					a.fa-button.mdl-list__item-secondary-action(href="#")
						i.fa.fa-bug
				div.mdl-list__item
					span.mdl-list__item-primary-content
						//i.fa.fa-bullet.fa-circle
						span Course 2
					a.fa-button.mdl-list__item-secondary-action(href="#")
						i.fa.fa-users
					a.fa-button.mdl-list__item-secondary-action(href="#")
						i.fa.fa-comments-o
					a.fa-button.mdl-list__item-secondary-action(href="#")
						i.fa.fa-bug

		div.mdl-card__actions.mdl-card--border
			a.mdl-button.mdl-js-button.mdl-js-ripple-effect(href="#/courses/create") Create new course

	// -- End of card for courses

	// Card for courses to be published

	div.mdl-card.mdl-cell.mdl-cell--6-col.mdl-cell--12-col-tablet
		div.mdl-card__title
			h2.mdl-card__title-text Review Courses
		div.mdl-card__supporting-text
			div.courses-list.mdl-list
				// item template
				div.mdl-list__item
					span.mdl-list__item-primary-content
						//i.fa.fa-bullet.fa-circle
						span Course 3
					a.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-list__item-secondary-action(href="#") Publish!
				div.mdl-list__item
					span.mdl-list__item-primary-content
						//i.fa.fa-bullet.fa-circle
						span Course 4
					a.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-list__item-secondary-action(href="#") Publish!
				div.mdl-list__item
					span.mdl-list__item-primary-content
						//i.fa.fa-bullet.fa-circle
						span Course 5
					a.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-list__item-secondary-action(href="#") Publish!
				div.mdl-list__item
					span.mdl-list__item-primary-content
						//i.fa.fa-bullet.fa-circle
						span Course 5
					a.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-list__item-secondary-action(href="#") Publish!
						
	div.mdl-card.mdl-cell.mdl-cell--6-col.mdl-cell--12-col-tablet
		div.mdl-card__title
			h2.mdl-card__title-text Courses' Status
		div.mdl-card__supporting-text
			div.courses-list.mdl-list
				// item template
				div.mdl-list__item
					span.mdl-list__item-primary-content
						//i.fa.fa-bullet.fa-circle
						span Course 3
					div.starring-display
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star-o
						i.fa.fa-star-o
						i.fa.fa-star-o
