div.mdl-grid

	// Card for Courses 
	div.mdl-card.mdl-cell.mdl-cell--6-col.mdl-cell--12-col-tablet
		div.mdl-card__title
			h2.mdl-card__title-text Creacion de un producto
		div.mdl-card__supporting-text
			div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.w100
				input.mdl-textfield__input(type="text", id="pro_nom", ng-model="cc.nombre")
				label.mdl-textfield__label(for="pro_nom") Nombre
			div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.w100
				input.mdl-textfield__input(type="text", id="pro_desc", ng-model="cc.descripcion")
				label.mdl-textfield__label(for="pro_desc") Descripcion
			div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.w100
				input.mdl-textfield__input(type="text", id="ven_prod", ng-model="cc.material_busc")
				label.mdl-textfield__label(for="ven_prod") Material
			button.mdl-button.mdl-js-button.mdl-js-ripple-effect(ng-click="cc.buscar()") Buscar
			table.mdl-data-table.mdl-js-data-table
				thead
					tr
						th ID
						th.mdl-data-table__cell--non-numeric Nombre Material
						th Cantidad
				tbody(ng-repeat="mat in cc.materiales")
					tr
						td {{ mat.id }}
						td {{ mat.nombre }}
						td
							input(type="number", value="1", ng-model="mat.cant")
			h5 Total: S/.{{ cc.total() }}
		div.mdl-card__actions.mdl-card--border
			a.mdl-button.mdl-js-button.mdl-js-ripple-effect(href="#", ng-click="cc.create_prod()") Crear producto
