div.mdl-grid(ng-controller="sellProdCtrl")

	// See all orders
	div.mdl-card.mdl-cell.mdl-cell--6-col
		div.mdl-card__title
			h2.mdl-card__title-text Ventas en proceso
		div.mdl-card__supporting-text
			table.mdl-data-table.mdl-js-data-table
				thead
					tr
						th Numero de Boleta
						th.mdl-data-table__cell--non-numeric Cliente
						th.mdl-data-table__cell--non-numeric Estado
				tbody(ng-repeat="vp in sp.venta_procesos")
					tr
						td {{ vp.num }}
						td {{ vp.cliente }}
						td {{ vp.estado }}

	div.mdl-card.mdl-cell.mdl-cell--6-col
		div.mdl-card__title
			h2.mdl-card__title-text Detalle de Orden
		div.mdl-card__supporting-text
			div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
				input.mdl-textfield__input(type='text', id='orden')
				label.mdl-textfield__label(for='orden') Inserte un numero de orden

	// Card to search details of orders
	div.mdl-card.mdl-cell.mdl-cell--12-col
		div.mdl-card__title
			h2.mdl-card__title-text Detalle de sub-orden
		div.mdl-card__supporting-text
			div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
				input.mdl-textfield__input(type='text', id='orden')
				label.mdl-textfield__label(for='orden') Inserte un numero de suborden

