div.mdl-grid

	// Card for Overview
	div.mdl-card.mdl-cell.mdl-cell--6-col.mdl-cell--12-col-tablet
		div.mdl-card__title
			h2.mdl-card__title Overview
		div.mdl-card__supporting-text
			div.overview-list.mdl-list
				div.mdl-list__item
					span.mdl-list__item-primary-content
						span Sales
						span $1664.00
				div.mdl-list__item
					span.mdl-list__item-primary-content
						span Expenses
						span $160.00
				div.mdl-list__item
					span.mdl-list__item-primary-content
						span Balance
						span $1504.00
	div.mdl-card.mdl-cell.mdl-cell--6-col.mdl-cell--12-col-tablet
		div.mdl-card__title
			h2.mdl-card__title Chart
			script(src='Chart.js' type='text/javascript').
				var ctx = document.getElementById("myChart");
				var myChart = new Chart(ctx, {
					type: 'bar',
					data: {
						labels: ["Red", "Blue", "Yellow"],
						datasets: [{
							label: 'Finances',
							data: [1664, 160, 1504],
							backgroundColor: ['rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)', 'rgba(255, 206, 86, 0.2)'],
							borderColor: ['rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)'],
							boderWidth: 1
							}]
						},
					options: {
						scales: {
							yAxes: [{
								ticks: {
									beginAtZero: true
									}
								}]
							}
						}
					});


