div.mdl-grid

	// Card for Courses 
	div.mdl-card.mdl-cell.mdl-cell--6-col.mdl-cell--12-col-tablet
		div.mdl-card__title
			h2.mdl-card__title-text Staff por pagar
		div.mdl-card__supporting-text
			table.mdl-data-table.mdl-js-data-table
				thead
					tr
						th Staff ID
						th.mdl-data-table__cell--non-numeric Nombre
				tbody
					tr
						td 4232622
						td Funanito de tal
					tr
						td 4232622
						td Funanito de tal

	// -- End of card for courses

	// Card for courses to be published

	div.mdl-card.mdl-cell.mdl-cell--6-col.mdl-cell--12-col-tablet
		div.mdl-card__title
			h2.mdl-card__title-text Detalles
		div.mdl-card__supporting-text
			table.mdl-data-table.mdl-js-data-table
				thead
					tr
						th.mdl-data-table__cell--non-numeric Descripcion
						th Monto
				tbody
					tr
						td Salario
						td 122.10
					tr
						td Venta 23/12
						td 32.32
			h5 Total: S/.232.23
		div.mdl-card__actions.mdl-card--border
			a.mdl-button.mdl-js-button.mdl-js-ripple-effect(href="#") Pagar
						
