div.mdl-grid(ng-controller='subsiCtrl')

	div.mdl-card.mdl-cell.mdl-cell--12-col
		div.mdl-card__title
			h2.mdl-card__title-text Buscar Cliente
		div.mdl-card__supporting-text
			div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.w100
				input.mdl-textfield__input(type="text", id="src_cli")
				label.mdl-textfield__label(for="src_cli") Nombre
			table.mdl-data-table.mdl-js-data-table
				thead
					tr
						th.mdl-data-table__cell--non-numeric Nombre
						th.mdl-data-table__cell--non-numeric Apellido
						th Celular
				tbody
					tr
						td Pepito
						td de los Palotes
						td 323534554
					tr
						td jhon
						td snow
						td 234522456

	// -- End of card for courses

	// Card for courses to be published

	div.mdl-card.mdl-cell.mdl-cell--12-col
		div.mdl-card__title
			h2.mdl-card__title-text Agregar Subsidio
		div.mdl-card__supporting-text
			div.mdl-grid
				div.mdl-cell--6-col
					h5 Datos del cliente
					div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.w100
						input.mdl-textfield__input(type="text", id="src_prove")
						label.mdl-textfield__label(for="src_prove") Nombre
					div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.w100
						input.mdl-textfield__input(type="text", id="src_prove")
						label.mdl-textfield__label(for="src_prove") Apellido
					div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.w100
						input.mdl-textfield__input(type="number", id="src_prove")
						label.mdl-textfield__label(for="src_prove") Celular
					div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.w100
						input.mdl-textfield__input(type="number", id="src_prove")
						label.mdl-textfield__label(for="src_prove") RUC
					div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.w100
						input.mdl-textfield__input(type="text", id="src_prove")
						label.mdl-textfield__label(for="src_prove") Razon Social
				div.mdl-cell--6-col
					h5 Ubicacion del subsidio
					ui-gmap-google-map(center='map.center', zoom='map.zoom', options="options")
						ui-gmap-marker(coords="marker.coords", options="marker.options", events="marker.events", idkey="marker.id")

		div.mdl-card__actions.mdl-card--border
			a.mdl-button.mdl-js-button.mdl-js-ripple-effect(href="#") Agregar Subsidio
