div.mdl-grid
	div.mdl-cell.mdl-cell--12-col.mdl-grid.mdl-card.cc
		// CC NAV
		div.mdl-cell.mdl-cell--2-col.cc-nav

			div.mdl-card__title
				h2.mdl-card__title-text COURSE INFO

			div.cc-nav-item
				i.fa.fa-circle
				span Title
			
			div.cc-nav-separator
			div.cc-nav-item
				i.fa.fa-circle
				span Cover Image
			
			div.cc-nav-separator
			div.cc-nav-item
				i.fa.fa-dot-circle-o
				span Description


			div.cc-nav-separator
			div.cc-nav-item
				i.fa.fa-circle-o
				span Goal

			div.cc-nav-separator
			div.cc-nav-item
				i.fa.fa-plus
				span Add Caracteristic


			div.mdl-card__title
				h2.mdl-card__title-text CONTENT

			div.cc-nav-item
				i.fa.fa-circle-o
				span Introducction
			
			div.cc-nav-separator
			div.cc-nav-item
				i.fa.fa-circle-o
				span Untitled topicn

			div.cc-nav-separator
			div.cc-nav-item
				i.fa.fa-plus
				span Add more content

		// CC CONTENT
		div.mdl-cell.mdl-cell--8-col.cc-content
			div.mdl-card__title
				h2.mdl-card__title-text Description
			div.mdl-card__supporting-text
				form(action="#")
					div.mdl-textfield.mdl-js-textfield
						textarea.mdl-textfield__input(type='text',id='inputDescription')
						label.mdl-textfield__label(for='inputDescription').
							Description
			div.cc-content-footer
				i.fa.fa-plus
				span ADD A SOMETHING
					

		// CC SUGGESTIONS
		div.mdl-cell.mdl-cell--2-col.cc-suggest
			div.mdl-card__title
				h2.mdl-card__title-text SUGGESTIONS
